body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 173, 181);;
    background-image: url("background.jpg");
    background-size: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
p{
    color: white;
}

h1{
    color: white;
}

.head-item{
    text-align: center;
    color: rgb(0, 173, 181);
}
.head-item:hover{
    color: white;
}
.pfp{
    width: 100;
    height: 100;
} 

.password-reset{
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(0, 173, 181);
    background-color: #393e46;
}
.password-reset:hover{
    color: white;
    text-align: center;
    width: 155;
    height: 45;
}
.LK-oplata{
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(0, 173, 181);
    background-color: #393e46;
}
.LK-oplata:hover{
    color: white;
    text-align: center;
    width: 155;
    height: 45;
}
.Akk-delete{
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(0, 173, 181);
    background-color: #393e46;
}

